$violet-border:violet;
$page-title-shadow:4px 4px 2px rgba(150, 150, 150, 1);
$up-button-image:"http://fc08.deviantart.net/fs71/i/2012/067/7/2/totoro__by_karkajou1993-d4ryjz7.png";
$up-button-shadow:0px 18px 28px -11px rgba(112, 112, 112, 1);
$recipe-card-shadow:0px 16px 19px -11px rgba(158, 158, 158, 1);
$recipe-card-background-color:white;
$recipe-card-background-hover:rgb(230, 230, 230);
$delete-button-color-hover:rgb(255, 51, 0);
$open-modal-image:"https://marketplace.canva.com/MACiibjUQlg/1/thumbnail_large/canva-kawaii-cooking-pot-icon-MACiibjUQlg.png";
$open-modal-shadow:0px 18px 28px -11px rgba(112, 112, 112, 1);
$modal-content-background:#fefefe;
$gradient-color1: #ff7de7;
$gradient-color2:#f647ff;
$error-message-color:rgb(202, 17, 104);